@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655781976163') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingjiazhongping:before {
  content: "\e635";
}

.icon-chaping:before {
  content: "\e60e";
}

.icon-pingjiahaoping:before {
  content: "\e616";
}

.icon-chaping1:before {
  content: "\e63f";
}

.icon-haoping:before {
  content: "\e637";
}

.icon-zhongping:before {
  content: "\ea48";
}

